name: CI - Calculadora Básica

on:
  push:
    branches: [ main, master, feature/* ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v5

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Verificar estructura
        run: ls -la CalculadoraAcciones/src/

      - name: Compilar código
        run: javac -d . CalculadoraAcciones/src/*.java

      - name: Ejecutar pruebas
        run: java -cp . CalculadoraTest